<%- include('header') %>
<h3>Topic</h3>
<form method="post" action="/topic">
    <textarea name="topic" class="form-control" cols="80" rows="5"></textarea>
    <div>
        <button type="submit" class="btn btn-primary">
            Post
        </button>
    </div>
</form>
<%- include('footer') %>